<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="/" class="item">Home</a>
        
        <% if(!currentUser){ %>
        
        <div class="right menu">
            <div class="item">
                <a href="/login" class="ui button">Login</a>
            
            </div>
            <div class="item">
                <a href="/register" class="ui primary button">signUp</a>

            </div>
            

        </div>
        
        <% } else { %>
        <a href="/" class="item">Home</a>
        <div class="right menu">
          <a href="/blogs/new" class="item">New post</a>
          <a class="ui item" href="logout" class="item">Logout</a>
        </div>

        <% } %>
      </div>
    </div>
 

    