<!-- To include header.ejs -->
<%- include ("partials/header") %>


<h1>Login</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">

    <input type="password" name="password" placeholder="password">

    <input type="submit" value="Submit">

</form>


<!-- TO include the footer ejs -->
<%- include ("partials/footer") %>
