<!-- To include header.ejs -->
<%- include ("partials/header") %>

<h1>Sign Up page</h1>

<form action="" method="post">
    <input type="text" name="username" placeholder="username">

    <input type="password" name="password" placeholder="password">

    <button>Sign Up</button>
</form>


<!-- TO include the footer ejs -->
<%- include ("partials/footer") %>
