<h1>Sign Up page</h1>

<form action="" method="post">
    <input type="text" name="username" placeholder="username">

    <input type="password" name="password" placeholder="password">

    <button>Sign Up</button>
</form>